registry=http://npm.hunantv.com
runtime=electron
target=4.0.5
target_arch=x64
NODEJS_ORG_MIRROR=https://npm.taobao.org/mirrors/node
ELECTRON_MIRROR=https://npm.taobao.org/mirrors/electron/
disturl=https://npm.taobao.org/mirrors/atom-shell
process=true